.game {
  padding: 1rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  padding-bottom: 2rem;
}

.winner {
  padding-bottom: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players { 
  display: flex;
  flex-direction: column;

  &--input {
    margin-bottom: 2rem !important;
    
    > p {
      position: absolute;
      margin-top: 3.5rem;
    }
  }
}